// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
}

h2{
  margin: 33px;
}

p{
  font-size: 13px;
  margin: 0 0 33px 66px;
}

a{
  color: gray;
}